.position-popup {
    position: absolute;
    z-index: 10000;
    background-color: white;
    align-items: center;
    margin: 0 auto;
    width: 80px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.highlighter--hover-tools {
    position: fixed;
    padding-bottom: 8px;
    z-index: 10000;
}

.highlighter--hover-tools--container {
    position: relative;
    border: solid 1px #777777;
    border-radius: 4px;
    padding: 1px 0;
    background-color: white;
    width: 94px; /* When changing this, also update moveToolbarToHighlight() in hoverTools.js */
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 2px #bdbdbd;
}

.highlighter--icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: opacity(0.7);
}

.highlighter--icon:hover {
    filter: opacity(0.92);
}

.highlighter--icon-icon {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/icon.svg');
    background-size: 24px 24px;
}

.highlighter--icon-kebab-menu {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/kebab-menu.svg');
    background-size: 12px 12px;

}