.highlighter--highlighted.highlighter--hovered {
    box-shadow: 0 1px 0 grey;
}

#highlighter--hover-tools {
    position: fixed;
    padding-bottom: 8px;
    z-index: 10000;
}

.highlighter--icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: opacity(0.7);
    margin: 0 4px;
}

.highlighter--icon:hover {
    filter: opacity(0.92);
}

.highlighter--icon-icon {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/icon.svg'); 
}

.highlighter--icon-delete {
    background-image:url('chrome-extension://__MSG_@@extension_id__/img/trash-outline.svg');
}

.highlighter--separator {
    display: inline-block;
    height: 22px;
    width: 0px;
    border-right: solid 1px #bfbfbf;
}


.color-row {
    display: flex;
    justify-content: space-between;
    max-width: 160px;
    margin: 0 auto;
    background: white;
    padding: 10px 0;
}

.highlighter--yellowdot { 
    height: 20px; 
    width: 20px; 
    background-color: #FDFFA8; 
    border-radius: 50%; 
    padding: 8px auto;
    margin: 4px auto;
    display: table-cell
}
.greendot { 
    height: 20px; 
    width: 20px; 
    background-color:#CBF9E5;
    border-radius: 50%; 
    padding: 8px auto;
    margin: 4px auto;
    display: table-cell
}
.reddot { 
    height: 20px; 
    width: 20px; 
    background-color:#FFB2B2;
    border-radius: 50%; 
    padding: 8px auto;
    margin: 4px auto;
    display: table-cell
}
.bluedot { 
    height: 20px; 
    width: 20px; 
    background-color:#A9DEFC;
    border-radius: 50%; 
    padding: 8px auto;
    margin: 4px auto;
    display: table-cell
}
.greydot { 
    height: 20px; 
    width: 20px; 
    background-color:#C4C4C4;
    border-radius: 50%; 
    padding: 8px auto;
    margin: 4px auto;
    display: table-cell
}
